//$primary: #020b8d; // burgundy

$primary:   #b3144f !default;
$secondary: #790c34 !default;
// $success:   $green !default;
// $info:      $cyan !default;
// $warning:   $yellow !default;
// $danger:    $red !default;
$light:     #24262d !default;
// $dark:      $gray-800 !default;